@use "../common/base.scss" as *;
.error {
  color: $t-danger;
  font-size: 12px;
  margin-top: 5px;
  margin-left: 40px;
}
.t-form-item {
  margin-bottom: 16px;
}
.t-form-item-content {
  width: 100%;
  display: flex;
  align-items: center;
  & label {
    width: 40px;
    margin-right: 5px;
  }
}
.validate-error {
  & * {
    border-color: $t-danger !important;
    &:focus-within {
      border-color: $t-danger !important;
      box-shadow: 0 0 0 1px $t-danger-lighten !important;
    }
    &:hover {
      border-color: $t-danger !important;
      box-shadow: 0 0 0 1px $t-danger-lighten !important;
    }
  }
}
