@font-face {
  font-family: "lzwui-icons"; /* Project id 3486576 */
  src: url("@lzwui/theme-chalk/fonts/iconfont.woff2") format("woff2"),
    url("@lzwui/theme-chalk/fonts/iconfont.woff") format("woff"),
    url("@lzwui/theme-chalk/fonts/iconfont.ttf") format("truetype");
}

.t-icon {
  font-family: "lzwui-icons" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
}

.icon-baocun:before {
  content: "\e614";
}

.icon-tubiao:before {
  content: "\e60a";
}

.icon-tubiao1:before {
  content: "\e60b";
}

.icon-double-bottom:before {
  content: "\e82a";
}

.icon-changongxiao_caidanguanli:before {
  content: "\e632";
}

.icon-chengyunshangguanli:before {
  content: "\e60c";
}

.icon-duanxinfasonglishi:before {
  content: "\e60d";
}

.icon-guanlianguanxipeizhi:before {
  content: "\e60e";
}

.icon-denglurizhi:before {
  content: "\e60f";
}

.icon-jichushujuweihu:before {
  content: "\e610";
}

.icon-gongyingshangguanli:before {
  content: "\e611";
}

.icon-jichuguanli:before {
  content: "\e612";
}

.icon-hezuohuobanguanli:before {
  content: "\e615";
}

.icon-kuaijierukoushezhi:before {
  content: "\e616";
}

.icon-xitongguanli:before {
  content: "\e617";
}

.icon-kehuguanli:before {
  content: "\e618";
}

.icon-hetongguanli:before {
  content: "\e619";
}

.icon-xiangmuxinxiguanli:before {
  content: "\e61a";
}

.icon-cangkuxinxiguanli:before {
  content: "\e61b";
}

.icon-caozuorizhi:before {
  content: "\e61c";
}

.icon-qiyehetongguanli:before {
  content: "\e61d";
}

.icon-shouhuokehuguanli:before {
  content: "\e61e";
}

.icon-xiaoxitongzhipeizhi:before {
  content: "\e61f";
}

.icon-huopinxinxiguanli:before {
  content: "\e620";
}

.icon-zuzhijiagouguanli:before {
  content: "\e621";
}

.icon-yonghuguanli:before {
  content: "\e622";
}

.icon-xitongshezhi:before {
  content: "\e623";
}

.icon-jiaosequanxian:before {
  content: "\e626";
}

.icon-fuwuguanli:before {
  content: "\e627";
}

.icon-baoxianguanli:before {
  content: "\e628";
}

.icon-fengkongguanli:before {
  content: "\e629";
}

.icon-chengyunshangguanli1:before {
  content: "\e62a";
}

.icon-baobiaoguanli:before {
  content: "\e62b";
}

.icon-jinxiangpiaoguanli:before {
  content: "\e62c";
}

.icon-caidanpeizhi:before {
  content: "\e62d";
}

.icon-fuwushangduizhangguanli:before {
  content: "\e62e";
}

.icon-rizhiguanli:before {
  content: "\e62f";
}

.icon-baozhengjinzhanghuguanli:before {
  content: "\e630";
}

.icon-pingtaiguanli:before {
  content: "\e631";
}

.icon-kehuguanli1:before {
  content: "\e633";
}

.icon-shenpizhongxin:before {
  content: "\e634";
}

.icon-fukuanshenhe:before {
  content: "\e635";
}

.icon-cheliangguanli:before {
  content: "\e636";
}

.icon-guacheguanli:before {
  content: "\e637";
}

.icon-shouquankehuguanli:before {
  content: "\e638";
}

.icon-yewushenqingme:before {
  content: "\e639";
}

.icon-jichushezhi:before {
  content: "\e63a";
}

.icon-tixianguanli:before {
  content: "\e63b";
}

.icon-paicheguanli:before {
  content: "\e63c";
}

.icon-yonghuquanxian:before {
  content: "\e63d";
}

.icon-jihuaguanli:before {
  content: "\e63e";
}

.icon-zhanghuguanli:before {
  content: "\e63f";
}

.icon-yunfeiyujingjiankong:before {
  content: "\e640";
}

.icon-yunlichi:before {
  content: "\e641";
}

.icon-yunyingguizeshezhi:before {
  content: "\e642";
}

.icon-hetongguanli1:before {
  content: "\e643";
}

.icon-yundanguanli:before {
  content: "\e644";
}

.icon-jichusheshi:before {
  content: "\e646";
}

.icon-yewuchuli:before {
  content: "\e647";
}

.icon-sijiguanli:before {
  content: "\e648";
}

.icon-xiaoxitongzhi:before {
  content: "\e649";
}

.icon-fuwuzhichi:before {
  content: "\e64a";
}

.icon-zaituguanli:before {
  content: "\e64d";
}

.icon-kaifapeizhi:before {
  content: "\e64e";
}

.icon-zhifuguanli:before {
  content: "\e64f";
}

.icon-duanxinfasongrizhi:before {
  content: "\e661";
}

.icon-shijianguanli:before {
  content: "\e613";
}

.icon-duanxinfasong:before {
  content: "\e657";
}

.icon-xiangyoujiantou:before {
  content: "\e65f";
}

.icon-xiangzuojiantou:before {
  content: "\e660";
}

.icon-dingshi:before {
  content: "\e645";
}

.icon-caozuoshouce:before {
  content: "\e624";
}

.icon-xinxijiance:before {
  content: "\e651";
}

.icon-caidanguanli:before {
  content: "\e609";
}

.icon-shishishuju:before {
  content: "\e64b";
}
