@use "../common/base.scss" as *;

@use "../common/mixins.scss" as *;

@include b(switch) {
  display: inline-block;
  vertical-align: middle;
  width: 52px;
  height: 26px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 20px;
  box-sizing: border-box;
  position: relative;
  /* 指定大小和圆角 */
  /* 默认的背景色是半透明黑色 */
  background-color: $t-bg-color;
  border: 1px solid $t-border-color;
  &:hover {
    border-color: $t-primary;
  }
  @include e(inner) {
    width: 100%;
    height: 100%;

    /* 去掉checkbox的默认样式 */
    -webkit-appearance: none;
    /* 去掉checkbox默认的点击效果 */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    /* 因为背景颜色和border在选中后发生了改变，所以就在这里加上过渡 */
    transition: background-color 0.3s, border 0.3s;
    /* 去掉checkbox的默认样式 */
    -webkit-appearance: none;
    /* 去掉checkbox默认的点击效果 */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    margin: 0;
    &:checked {
      border-color: $t-border-color;
      background-color: $t-primary;
      &:after {
        left: calc(52px - 26px);
      }
    }
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 8px;
      /* 长宽与父级的宽相同，并指定圆角*/
      width: 16px;
      height: 16px;
      border-radius: 8px;
      background-color: #fff;
      /* 阴影是用来划分边界的 */
      box-shadow: $t-shadow;
      /* 为了让开关有过渡效果，要使用transition属性。这个属性性能消耗大，要避免大规模使用 */
      transition: right 0.5s;
    }
  }
}
