@use "../common/mixins.scss" as *;
@use "../common/base" as *;

@include b(virtual-list) {
  position: relative;
  overflow: auto;
  will-change: transform;
  -webkit-overflow-scrolling: touch;

  @include e(phantom) {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: -1;
    pointer-events: none;
  }

  @include e(content) {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    min-height: 100%;
    contain: paint;
  }

  @include e(item) {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    contain: layout;

    &:hover {
      background-color: $t-text-color-secondary;
    }
  }
}
